<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/wear_app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:localeConfig="@xml/locales_config"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".wear.WearMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wear.WearDetailActivity"
            android:parentActivityName=".wear.WearMainActivity" />

        <activity
            android:name=".wear.WearNotificationActivity"
            android:parentActivityName=".wear.WearDetailActivity" />

        <service
            android:name=".wear.WearListenerService"
            android:exported="true"
            tools:ignore="WearableBindListener">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>
</manifest>
