name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build Debug
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Play Debug
        run: ./gradlew assemblePlayDebug

      - name: Build F-Droid Debug
        run: ./gradlew assembleFdroidDebug
