name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      SIGNING_KEY_STORE_BASE64: ${{ secrets.SIGNING_KEY_STORE_BASE64 }}
      SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
      SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
      SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
      GOOGLE_SERVICES_JSON_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}
      APP_BASE_URL: ${{ vars.APP_BASE_URL || secrets.APP_BASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Decode Google Services (FCM)
        if: env.GOOGLE_SERVICES_JSON_BASE64 != ''
        run: |
          echo "$GOOGLE_SERVICES_JSON_BASE64" | base64 --decode > app/google-services.json

      - name: Override App Base URL
        if: env.APP_BASE_URL != ''
        run: |
           sed -i 's|<string name="app_base_url" translatable="false">.*</string>|<string name="app_base_url" translatable="false">'"$APP_BASE_URL"'</string>|' app/src/main/res/values/values.xml

      - name: Build with Gradle
        run: ./gradlew assemblePlayRelease bundlePlayRelease

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/play/release
          signingKeyBase64: ${{ env.SIGNING_KEY_STORE_BASE64 }}
          alias: ${{ env.SIGNING_KEY_ALIAS }}
          keyStorePassword: ${{ env.SIGNING_STORE_PASSWORD }}
          keyPassword: ${{ env.SIGNING_KEY_PASSWORD }}

      - name: Sign AAB
        id: sign_aab
        run: |
          # AAB signing
          echo "$SIGNING_KEY_STORE_BASE64" | base64 --decode > release.jks
          jarsigner -keystore release.jks -storepass "$SIGNING_STORE_PASSWORD" -keypass "$SIGNING_KEY_PASSWORD" app/build/outputs/bundle/playRelease/app-play-release.aab "$SIGNING_KEY_ALIAS"
          rm release.jks

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ steps.sign_app.outputs.signedReleaseFile }}
            app/build/outputs/bundle/playRelease/app-play-release.aab
